body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container, .container2 {
    width: 150px;
    height: 150px;
    margin: 20px;
    cursor: pointer;
    transition: transform 1s ease, width 1s ease, background-color 1s ease;
}

.container {
    background-color: green;
}

.container:hover {
    transform: rotate(360deg) scale(2);
    width: 300px;
    background-color: red;
}

.container2 {
    background-color: rgba(128, 128, 128, 0.4);
    transition: transform 1s ease, background-color 1s ease;
}

.container2:hover {
    transform: translate(50px, -50px) skew(20deg);
    background-color: rgb(255, 129, 150);
}
