* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box ;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.contenedor {
    background-color: #ccc;
    margin: 20px auto;
    width: 90%;
    overflow: hidden;
}

header {
    background-color: #4d5061;
    color: white;
    padding: 20px;
    text-align: center;
}

.main {
    width: 70%;
    float: left;
}

article {
    padding: 10px;
    background-color: white;
    float: left;
}

aside {
    background-color: #e8c547;
    float: left;
    width: 30%;
    padding: 20px;
}

footer {
    background-color: #4d5061;
    color: white;
    clear: both;
    text-align: center;
    padding: 20px;
}






