body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.card {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card-shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card-gradient {
    background: linear-gradient(#3498db, #1f587d);
    color: white;
}

.filtered-image {
    filter: brightness(80%) contrast(120%);
    margin: 20px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #8b4513; /* Marrón */
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px; /* Centra horizontalmente */
    transition: visibility 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
}
