ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 400px;
  }

  li {
    font-size: 1rem;
    margin: 0 1rem;

    /* Crecer en tamaño */
    transition: font-size 2s ease-in-out;
  }

  li:nth-child(1) {
    font-size: 1rem;
  }

  li:nth-child(2) {
    font-size: 1.2rem;
  }

  li:nth-child(3) {
    font-size: 1.4rem;
  }

  li:nth-child(4) {
    font-size: 1.6rem;
  }

  li:nth-child(5) {
    font-size: 1.8rem;
  }

  li:nth-child(6) {
    font-size: 2rem;
  }