body {
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-normal {
    background-color: #3498db;
    color: white;
    cursor: crosshair;
}

.btn-outline {
    border: 2px solid #3498db;
    background: transparent;
    color: #3498db;
    cursor: pointer;
}

.btn-alert {
    background-color: #e74c3c;
    color: white;
    cursor: help;
}

button:hover {
    transform: scale(1.1);
}
